spring:
  application:
    name: aiservice
  data:
    mongodb:
      uri: mongodb://localhost:27017/
      database: fitness_aiservice_db

server:
  port: 8083

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true         # Register IP instead of hostname
    instance-id: ${spring.application.name}:${server.port}  # clean ID format